<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">Báo cáo</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row col-md-8">
                                <label class="col-xs-12 col-12 col-md-3 col-form-label" for="select">SNORT</label>
                                <select class="col-xs-12 col-12 col-md-8 form-control ng-untouched ng-pristine ng-valid">
                                    <option value="ACT">Snort của tất cả</option>
                                    <option value="INA">Snort của khoa Y</option>
                                    <option value="-">Snort của khoa Dược</option>
                                    <option value="-">Snort của khoa Răng Hàm Mặt</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row col-md-8">
                                <label class="col-xs-12 col-12 col-md-3 col-form-label" for="select">Thông số</label>
                                <select class="col-xs-12 col-12 col-md-8 form-control ng-untouched ng-pristine ng-valid">
                                    <option value="ACT">Job ID</option>
                                    <option value="INA">Protocol</option>
                                    <option value="-">Time</option>
                                    <option value="-">DataType</option>
                                    <option value="-">Size</option>
                                    <option value="-">Route</option>
                                    <option value="-">Ip From</option>
                                    <option value="-">Ip To</option>
                                    <option value="-">Pass STT</option>
                                    <option value="-">Port From</option>
                                    <option value="-">Port To</option>
                                    <option value="-">Alert Mode</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row" style="margin-left: 50%">
                                <button class="btn btn-danger pull-right" (click)="show()">Xem</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card card-plain">
                            <div class="card-header card-header-danger">
                                <p class="card-category">Kết quả</p>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead class=" text-primary">
                                            <th>
                                                Job ID
                                            </th>
                                            <th>
                                                Protocol
                                            </th>
                                            <th>
                                                Time
                                            </th>
                                            <th>
                                                DataType
                                            </th>
                                            <th>
                                                Size
                                            </th>
                                            <th>
                                                Route
                                            </th>
                                            <th>
                                                Ip From
                                            </th>
                                            <th>
                                                Ip To
                                            </th>
                                            <th>
                                                Pass STT
                                            </th>
                                            <th>
                                                Port From
                                            </th>
                                            <th>
                                                Port To
                                            </th>
                                            <th>
                                                Alert Mode
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let itemresult of lst">
                                                <td>
                                                    {{itemresult.IDSnort}}
                                                </td>
                                                <td>
                                                    {{itemresult.Protocol}}
                                                </td>
                                                <td>
                                                    <img class="img" src="../assets/img/faces/clock-icon.png" />
                                                    {{itemresult.LogTime}}
                                                </td>
                                                <td>
                                                    {{itemresult.DataType}}
                                                </td>
                                                <td>
                                                    {{itemresult.Size}} KB
                                                </td>
                                                <td>
                                                    {{itemresult.Route}}
                                                </td>
                                                <td>
                                                    {{itemresult.IP_From}}
                                                </td>
                                                <td>
                                                    {{itemresult.IP_To}}
                                                </td>
                                                <td>
                                                    {{itemresult.PassStt}}
                                                </td>
                                                <td>
                                                    {{itemresult.PortFrom}}
                                                </td>
                                                <td>
                                                    {{itemresult.PortTo}}
                                                </td>
                                                <td>
                                                    {{itemresult.AlertMode}}
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <div class="row text-center">
                                                        <ul class="pagination ">
                                                            <li class="page-item ">
                                                                <a class="page-link " style="cursor: pointer ">«</a>
                                                            </li>
                                                            <li class="page-item ">
                                                                <a class="page-link " style="cursor: pointer ">1</a>
                                                            </li>
                                                            <li class="page-item ">
                                                                <a class="page-link " style="cursor: pointer ">2</a>
                                                            </li>
                                                            <li class="page-item ">
                                                                <a class="page-link " style="cursor: pointer ">»</a>
                                                            </li>
                                                        </ul>
                                                        <ul class="pagination pull-right float-sm-right ">
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>