<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">Báo cáo</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row col-md-7">
                                <label class="col-xs-12 col-12 col-md-3 col-form-label" for="select">Ip nguồn</label>
                                <input class="col-md-8 form-control ng-untouched ng-pristine ng-valid" name="name"
                                    ngmodel="" type="text">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row col-md-7">
                                <label class="col-xs-12 col-12 col-md-3 col-form-label" for="select">Ip đích</label>
                                <input class="col-md-8 form-control ng-untouched ng-pristine ng-valid" name="name"
                                    ngmodel="" type="text">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row col-md-7">
                                <label class="col-xs-12 col-12 col-md-3 col-form-label" for="select">Thời gian (dd/mm/yyyy)</label>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Từ">
                                </mat-form-field>
                                <div class="col-md-1"></div>  
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Đến">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-check" style="padding-left: 15%">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="" checked>RDP
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                </label>
                                <label class="form-check-label" style="margin-left: 2%">
                                    <input class="form-check-input" type="checkbox" value="" checked>Ping
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                </label>
                                <label class="form-check-label" style="margin-left: 2%">
                                    <input class="form-check-input" type="checkbox" value="" checked>SSH
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                </label>
                                <label class="form-check-label" style="margin-left: 2%">
                                    <input class="form-check-input" type="checkbox" value="" checked>Telnet
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                </label>
                                <label class="form-check-label" style="margin-left: 2%">
                                    <input class="form-check-input" type="checkbox" value="" checked>NMAp
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                </label>
                                <label class="form-check-label" style="margin-left: 2%">
                                    <input class="form-check-input" type="checkbox" value="" checked>Tracert
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row" style="margin-left: 35%">
                                <button class="btn btn-danger pull-right" (click)="show()">Xem</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card card-plain">
                            <div class="card-header card-header-danger">
                                <p class="card-category">Kết quả</p>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead class=" text-primary">
                                            <th>
                                                ID
                                            </th>
                                            <th>
                                                Protocol
                                            </th>
                                            <th>
                                                Time
                                            </th>
                                            <th>
                                                DataType
                                            </th>
                                            <th>
                                                Length
                                            </th>
                                            <th>
                                                Ip From
                                            </th>
                                            <th>
                                                Ip To
                                            </th>
                                            <th>
                                                Info
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let itemresult of lst">
                                                <td>
                                                    {{itemresult.No}}
                                                </td>
                                                <td>
                                                    {{itemresult.Protocol}}
                                                </td>
                                                <td>
                                                    {{itemresult.Time}}
                                                </td>
                                                <td>
                                                    {{itemresult.Type}}
                                                </td>
                                                <td>
                                                    {{itemresult.Length}}
                                                </td>
                                                <td>
                                                    {{itemresult.Source}}
                                                </td>
                                                <td>
                                                    {{itemresult.Destination}}
                                                </td>
                                                <td>
                                                    {{itemresult.Info}}
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <div class="row text-center">
                                                        <ul class="pagination ">
                                                            <li class="page-item ">
                                                                <a class="page-link " style="cursor: pointer ">«</a>
                                                            </li>
                                                            <li class="page-item ">
                                                                <a class="page-link " style="cursor: pointer ">1</a>
                                                            </li>
                                                            <li class="page-item ">
                                                                <a class="page-link " style="cursor: pointer ">2</a>
                                                            </li>
                                                            <li class="page-item ">
                                                                <a class="page-link " style="cursor: pointer ">»</a>
                                                            </li>
                                                        </ul>
                                                        <ul class="pagination pull-right float-sm-right ">
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>