<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-chart">
                    <div class="card-header card-header-info">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Log statistics</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 10% </span> increase in
                            today.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Xem traffic</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Protocol
                                    </th>
                                    <th>
                                        Time
                                    </th>
                                    <th>
                                        DataType
                                    </th>
                                    <th>
                                        Length
                                    </th>
                                    <th>
                                        Ip From
                                    </th>
                                    <th>
                                        Ip To
                                    </th>
                                    <th>
                                        Info
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let itemresult of lst">
                                        <td>
                                            {{itemresult.No}}
                                        </td>
                                        <td>
                                            {{itemresult.Protocol}}
                                        </td>
                                        <td>
                                            {{itemresult.Time}}
                                        </td>
                                        <td>
                                            {{itemresult.Type}}
                                        </td>
                                        <td>
                                            {{itemresult.Length}}
                                        </td>
                                        <td>
                                            {{itemresult.Source}}
                                        </td>
                                        <td>
                                            {{itemresult.Destination}}
                                        </td>
                                        <td>
                                            {{itemresult.Info}}
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <div class="row text-center">
                                                <ul class="pagination ">
                                                    <li class="page-item ">
                                                        <a class="page-link " style="cursor: pointer ">«</a>
                                                    </li>
                                                    <li class="page-item ">
                                                        <a class="page-link " style="cursor: pointer ">1</a>
                                                    </li>
                                                    <li class="page-item ">
                                                        <a class="page-link " style="cursor: pointer ">2</a>
                                                    </li>
                                                    <li class="page-item ">
                                                        <a class="page-link " style="cursor: pointer ">»</a>
                                                    </li>
                                                </ul>
                                                <ul class="pagination pull-right float-sm-right ">
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>