<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-chart">
                    <div class="card-header card-header-info">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Log statistics</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 10% </span> increase in
                            today.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Xem traffic</h4>
                    </div>
                    <div class="card-body over-scroll">
                        <ng2-smart-table class="table table-hover" [settings]="setting" [source]="lst">
                        </ng2-smart-table>
                        <div _ngcontent-c32="" _nghost-c34="" class="ng-star-inserted" style="padding: 1.25rem;"
                            [hidden]="lst && lst.length==0">
                            <nav _ngcontent-c34="" class="ng2-smart-pagination-nav ng-star-inserted row">
                                <ul _ngcontent-c34="" class="ng2-smart-pagination pagination col-md-6">
                                    <li _ngcontent-c34="" [ngClass]="{'disabled': pager.currentPage === 1}"
                                        class="ng2-smart-page-item page-item disabled"><a _ngcontent-c34=""
                                            aria-label="First" class="ng2-smart-page-link page-link"
                                            (click)="searchClick(1)"><span _ngcontent-c34=""
                                                aria-hidden="true">«</span><span _ngcontent-c34=""
                                                class="sr-only">First</span></a></li>
                                    <li [ngClass]="{disabled:pager.currentPage === 1}" _ngcontent-c34=""
                                        class="ng2-smart-page-item page-item"><a _ngcontent-c34="" aria-label="Prev"
                                            class="ng2-smart-page-link page-link page-link-prev"
                                            (click)="searchClick(pager.currentPage - 1)"><span _ngcontent-c34=""
                                                aria-hidden="true">&lt;</span><span _ngcontent-c34=""
                                                class="sr-only">Prev</span></a></li>
                                    <li _ngcontent-c34="" *ngFor="let page of pager.pages"
                                        [ngClass]="{active:pager.currentPage === page}"
                                        class="ng2-smart-page-item page-item ng-star-inserted"
                                        (click)="searchClick(page)">
                                        <span _ngcontent-c34=""
                                            class="ng2-smart-page-link page-link ng-star-inserted">{{page}}<span
                                                _ngcontent-c34="" class="sr-only">(current)</span></span>
                                    </li>
                                    <li _ngcontent-c34="" [ngClass]="{disabled:pager.currentPage === pager.totalPages}"
                                        class="ng2-smart-page-item page-item"><a _ngcontent-c34="" aria-label="Next"
                                            class="ng2-smart-page-link page-link page-link-next"
                                            (click)="searchClick(pager.currentPage + 1)"><span _ngcontent-c34=""
                                                aria-hidden="true">&gt;</span><span _ngcontent-c34=""
                                                class="sr-only">Next</span></a></li>
                                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" _ngcontent-c34=""
                                        class="ng2-smart-page-item page-item"><a _ngcontent-c34="" aria-label="Last"
                                            class="ng2-smart-page-link page-link"
                                            (click)="searchClick(pager.totalPages)"><span _ngcontent-c34=""
                                                aria-hidden="true">»</span><span _ngcontent-c34=""
                                                class="sr-only">Last</span></a>
                                    </li>
                                </ul>
                                <span class="col-md-6 text-right text-italic">
                                    {{total}} items
                                </span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>